{{define "header"}}
<div class="navbar">
    <div class="navbar-inner">
            <ul class="nav pull-right">
                
                <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button"><i class="icon-wrench"></i> 设置</a></li>
                <li id="fat-menu" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>{{.adminName}}
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">帐号信息</a></li>
                        <li class="divider"> </li>
                        <li><a tabindex="-1" class="visible-phone" href="#">设置</a></li>
                        <li class="divider visible-phone"></li>
                        <li><a tabindex="-1" href="/admin/logout">安全退出</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" href="index.html"><span class="first">酒悦久</span> <span class="second">广告管理系统</span></a>
    </div>
</div>
{{end}}